<div class='settings-container'>
	<h1>Settings</h1>
	<form [formGroup]="gameForm" (ngSubmit)="onLaunch()">
		<mat-form-field>
			<mat-select placeholder="Pick A Game" formControlName="game">
				<mat-option *ngFor="let gameData of gameList" [value]="gameData.fileName">
					{{ gameData.name }}
				</mat-option> 
			</mat-select>
			<mat-error *ngIf="gameForm.get('game').invalid">{{getErrorMessage()}}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-select placeholder="Pick A Clock Frequency" formControlName="frequency">
				<mat-option value="1">1 Hz</mat-option>
				<mat-option value="5">5 Hz</mat-option>
				<mat-option value="10">10 Hz</mat-option>
				<mat-option value="20">20 Hz</mat-option>
				<mat-option value="25">25 Hz</mat-option>
				<mat-option value="30">30 Hz</mat-option>
				<mat-option value="35">35 Hz</mat-option>
				<mat-option value="40">40 Hz</mat-option>
				<mat-option value="45">45 Hz</mat-option>
				<mat-option value="50">50 Hz</mat-option>
				<mat-option value="100">100 Hz</mat-option>
				<mat-option value="200">200 Hz</mat-option>
				<mat-option value="300">300 Hz</mat-option>
				<mat-option value="400">400 Hz</mat-option>
				<mat-option value="500">500 Hz</mat-option>
			</mat-select>
			<mat-error *ngIf="gameForm.get('frequency').invalid">{{getErrorMessage('frequency')}}</mat-error>
		</mat-form-field>
		<div class="game-controls">
			<button
			 mat-raised-button
			 type="submit"
			 color="primary" 
			 class="launch-button" 
			 [disabled]="settingsService.id ? true : null">Launch</button>
			<button 
			 mat-raised-button 
			 type="button"
			 color="primary" 
			 class="launch-button" 
			 (click)="onPausedButtonClicked()"
			 [disabled]="settingsService.id ? null : true">Pause</button>
			<button
			 type="button"
			 mat-raised-button 
			 color="primary" 
			 class="launch-button" 
			 (click)="onStopButtonClicked()"
			 [disabled]="settingsService.id ? null : true">Stop</button>
		</div>
	</form>
</div>
